@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&family=Rock+Salt&display=swap');

:root {
    --primary: palevioletred;
    --secondary: #A4546E;
    --accent: #E494AE;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    margin: 0 auto;
    text-align: center;
    padding: 1em;
}

a {
    color: var(--secondary);
    font-weight: bold;
}

a:hover {
    color: var(--accent);
}

h1,
h2 {
    color: palevioletred;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
}

main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 1em;
}

.game-board {
    font-family: 'Rock Salt', cursive;
    font-weight: bold;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.cell {
    background-color: #fff;
    border: 5px solid var(--primary);
    padding: 0.5em;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message-display {
    padding: 1em;
    margin: 1em;
    font-style: italic;
}

#play-again {
    margin: 1em;
    padding: 1em;
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 0.5em;
}

#play-again:hover {
    background-color: var(--accent);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 2.5rem;
}