body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    margin: 0 auto;
    text-align: center;
    padding: 1em;
}

h1,
h2 {
    color: palevioletred;
}

main {
    border: 1px solid palevioletred;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 1em;
}

.game-board {
    font-family: "Comic Sans MS";
    font-weight: bold;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.cell {
    background-color: #fff;
    border: 5px solid palevioletred;
    padding: 0.5em;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message-display {
    padding: 1em;
    margin: 1em;
    font-style: italic;
}